Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
kurload.h
kurload.h.in
missing
src/.deps/
src/Makefile
src/Makefile.in
src/kurload
*.o
stamp-h1
