Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
kurload.h
kurload.h.in
missing
src/.deps/
src/Makefile
src/Makefile.in
src/kurload
*.o
*.gcno
*.gcda
tst/coverage.info
tst/coveragereport/
stamp-h1
test-driver
tst/.deps/
tst/test
tst/test-suite.log
tst/test.log
tst/test.trs
