*.gcda
*.gcno
*.o
*.plist
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
kurload-*.tar.gz
kurload.h
kurload.h.in
missing
src/.deps/
src/.dirstamp
src/Makefile
src/Makefile.in
src/kurload
stamp-h1
test-driver
tst/.deps/
tst/coverage.info
tst/coveragereport/
tst/test
tst/test-server.sh.log
tst/test-server.sh.trs
tst/test-suite.log
tst/test.log
tst/test.trs
