#!/usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@ --list-missing --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --enable-openssl

override_dh_installinit:
	dh_installinit --onlyscripts

